/* navBar.css */

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(159, 172, 244, 0.15);
  /* Low opacity background */
  color: white;
  height: 60px;
  /* Adjust height as needed */
}

.logo {
  display: flex;
  align-items: center;
}

.iconButton {
  background-color: rgba(255, 255, 255, 0.8);
  /* Light white background */
  border-radius: 50%;
  /* Make it circular */
  padding: 5px;
  /* Adjust padding as needed */
  margin: 0 5px;
  /* Adjust margin for spacing */
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.iconButton:hover {
  background-color: rgba(255, 255, 255, 1);
  /* Glowing white on hover */
}

.iconButton svg {
  color: #f1f1f1;
  /* Icon color to match the theme */
}

.logoLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  font-size: 24px;
}

.navLinks {
  display: flex;
  gap: 10px;
  align-items: center;
}

.MuiButton-root {
  color: white;
  text-transform: none;
}

.MuiIconButton-root {
  color: white;
}

.searchInput {
  width: 90%;
  /* Increased width */
  max-width: 1000px;
  /* Adjusted max width */
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.searchInput:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  outline: none;
}