.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(63, 81, 181, 0.3);
  color: white;
  height: 80px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: -55px !important;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    3px 1px 0 #000;
}

.rainbowImage {
  height: 80px;
}

.searchBarContainer {
  flex-grow: 2;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.searchInput {
  flex-grow: 1;
  width: 90%;
}

.MuiButton-root {
  color: white;
  text-transform: none;
}

.MuiIconButton-root {
  color: white;
}

.navButton {
  color: white;
  margin: 0 10px;
  position: relative;
}

.navButton.active {
  box-shadow: 0 0 15px rgba(255, 223, 0, 0.8);
  /* Golden yellow glow */
  border-radius: 50%;
}

.navButton:hover {
  box-shadow: 0 0 15px rgba(255, 223, 0, 0.8);
  /* Golden yellow glow */
}

@keyframes glowBackground {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }

  50% {
    background-color: rgba(255, 223, 0, 0.8);
    /* Golden yellow */
  }

  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.submit-button.glowing {
  animation: glowBackground 1.5s infinite;
}